# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=
JWT_ACCESS_TOKEN_SECRET=
JWT_REFRESH_TOKEN_SECRET=
JWT_EXPIRES_IN=1h
JWT_REFRESH_EXPIRES_IN=7d
PORT=5000
NODE_ENV = "development"
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

#Optional: If you're using email services for sending emails (e.g., for verification or password reset)
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_FROM=
SMTP_PASS=

#bulksms 
BULKSMS_API_KEY=
BULKSMS_SENDER_ID=

#AWS S3 Configuration
S3_BUCKET_NAME=
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
# Optional for S3-compatible: MinIO/Supabase
S3_ENDPOINT=
SUPABASE_URL=
FORCE_PATH_STYLE=


#sslCommerz
SSL_STORE_ID=
SSL_STORE_PASS=
SSL_PAYMENT_API=
SSL_VALIDATION_API=

SSL_SUBSCRIPTION_SUCCESS_BACKEND_URL=http://localhost:5000/api/v1/subscription-payment/success
SSL_SUBSCRIPTION_FAIL_BACKEND_URL=http://localhost:5000/api/v1/subscription-payment/fail
SSL_SUBSCRIPTION_CANCEL_BACKEND_URL=http://localhost:5000/api/v1/subscription-payment/cancel

SSL_SUBSCRIPTION_SUCCESS_FRONTEND_URL=http://localhost:3000/seller/dashboard/subscription-payment/success
SSL_SUBSCRIPTION_FAIL_FRONTEND_URL=http://localhost:3000/seller/dashboard/subscription-payment/fail
SSL_SUBSCRIPTION_CANCEL_FRONTEND_URL=http://localhost:3000/seller/dashboard/subscription-payment/cancel

SSL_ORDER_SUCCESS_BACKEND_URL=http://localhost:5000/api/v1/order-payment/success
SSL_ORDER_FAIL_BACKEND_URL=http://localhost:5000/api/v1/order-payment/fail
SSL_ORDER_CANCEL_BACKEND_URL=http://localhost:5000/api/v1/order-payment/cancel

SSL_ORDER_SUCCESS_FRONTEND_URL=http://localhost:3000/dashboard/order-payment/success
SSL_ORDER_FAIL_FRONTEND_URL=http://localhost:3000/dashboard/order-payment/fail
SSL_ORDER_CANCEL_FRONTEND_URL=http://localhost:3000/dashboard/order-payment/cancel

REDIS_URL=
# Format: amqp://username:password@host:port
RABBITMQ_URL=
ADMIN_PASSWORD=
ADMIN_EMAIL=